<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Users list</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <ul>
            <li th:each="user : ${users}" th:text="${user.login}" />
        </ul>

        <form method="post">
            Add user: <input type="text" name="login"/>
            <br/>
            <input type="submit" value="Add user"/>
        </form>
    </body>

</html>
